@model MOwZProject.Models.FileProblem

@{
    ViewBag.Title = "Algorytm Stilla (kryterium Hilla)";
}


@using (Html.BeginForm("FileProblem", "FileProblem", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <h2>@ViewBag.Title</h2>
    <hr />
    <h3 style="color:dodgerblue">@ViewBag.Message</h3>

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <p>@Html.LabelFor(m => m.FileWithData)</p>
        <div class="text-danger">
            @Html.ValidationMessageFor(x => x.FileWithData)
        </div>
        @Html.TextBoxFor(m => m.FileWithData, new { type = "file" })

        <br />
        @Html.CheckBoxFor(m => m.ProblemFromFile.details)
        @Html.LabelFor(m => m.ProblemFromFile.details)
        <br />
        <br />

        <input type="submit" value="Przetwórz dane" class="btn btn-primary" />

    </div>
}

@if (Model.ProblemFromFile != null && Model.ProblemFromFile.Iterations != null && Model.ProblemFromFile.Iterations.Count > 0)
{
    <br />
    <br />

    //TODO zmiana parametru przy tworzeniu wykresu
    string n = string.Join(" ", Model.ProblemFromFile.States.Select(s => s.Name).ToArray());
    string p = string.Join(" ", Model.ProblemFromFile.States.Select(s => s.Mandats).ToArray());
    <img src="@Url.Action("EfficiencyChart", "Problem", new { names = @n , places = @p })" />

    <br />

    <p>Liczba przydzielanych miejsc: <b>@Html.DisplayFor(model => model.ProblemFromFile.ParlamentSize)</b> </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProblemFromFile.States.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProblemFromFile.States.First().Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProblemFromFile.States.First().Mandats)
            </th>
        </tr>
        @foreach (var item in Model.ProblemFromFile.States)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mandats)
                </td>
            </tr>

        }

    </table>




        //TODO wyświetlanie szczegółów
        if (Model.ProblemFromFile.details && Model.ProblemFromFile.Steps != null)
        {

            <p>Kroki algorytmu: </p>

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProblemFromFile.Steps.First().Element)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProblemFromFile.Steps.First().GornaKwota)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProblemFromFile.Steps.First().DolnaKwota)
                    </th>
                </tr>
                @foreach (var item in Model.ProblemFromFile.Steps)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Element)
                        </td>
                        @if ((bool)item.SpelniaTestGornejKwoty)
                        {
                            <td class="text-success">
                                @Html.DisplayFor(modelItem => item.GornaKwota)
                            </td>
                        }
                        else
                        {
                            <td class="text-danger">
                                @Html.DisplayFor(modelItem => item.GornaKwota)
                            </td>
                        }
                        @if ((bool)item.SpelniaTestDolnejKwoty)
                        {
                            <td class="text-success">
                                @Html.DisplayFor(modelItem => item.DolnaKwota)
                            </td>
                        }
                        else
                        {
                            <td class="text-danger">
                                @Html.DisplayFor(modelItem => item.DolnaKwota)
                            </td>
                        }
                    </tr>

                }

            </table>
        }
}