@{
    ViewBag.Title = "Algorytm Stilla (kryterium Hilla)";
}
<h2>@ViewBag.Title</h2>
<h3 style="color:dodgerblue">@ViewBag.Message</h3>

@using (Html.BeginForm("Still",
                        "Home",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    <label for="file">Wybierz plik z danymi do przetworzenia:</label>
    <input type="file" name="file" id="file" /><br><br>
    <input type="submit" value="Przetwórz dane" />
    <br><br>
    


}
@if (ViewData["iters"] != null && ViewData["places"] != null && ViewData["names"] != null)
{
    int[] places = (int[])ViewData["places"];
    string[] names = (string[])ViewData["names"];

    string n = string.Join(" ", names);
    string p = string.Join(" ", places);
    <img src="@Url.Action("EfficiencyChart", "Home", new { names = @n, places = @p })" />

    for (int i = 0; i < places.Length; i++)
    {
        <p>stan @names[i] : @places[i]</p> 
    }
    
    <br />
    <p><b>Przydział w kolejnych iteracjach:</b></p>
        foreach (var i in (List<int>)ViewData["iters"])
        {
        <li>
            @i.ToString()
        </li> 
        }
    
    
}

        

